In [25]:
library(tidyverse)
library(repr)
library(digest)
library(infer)

ERROR: Error in library(Date): there is no package called ‘Date’

In [11]:
league_data <- 
    read.csv('./premier_league_2021.csv') %>% 
    select(Date, HomeTeam, AwayTeam, full_time_home_goals, full_time_away_goals)
head(tot_data)

  HomeTeam       AwayTeam    full_time_home_goals full_time_away_goals
1 Fulham         Arsenal     0                    3
2 Crystal Palace Southampton 1                    0
3 Liverpool      Leeds       4                    3
4 West Ham       Newcastle   0                    2
5 West Brom      Leicester   0                    3
6 Tottenham      Everton     0                    1

In [12]:
tot_home <- 
    league_data %>%
    filter(HomeTeam == 'Tottenham') %>%
    mutate(goal_diff = full_time_home_goals - full_time_away_goals) %>%
    select(Date, goal_diff)
head(tot_home)

  Date       goal_diff
1 13/09/2020 -1
2 27/09/2020  0
3 18/10/2020  0
4 01/11/2020  1
5 21/11/2020  2
6 06/12/2020  2

In [14]:
tot_away <- 
    league_data %>%
    filter(AwayTeam == 'Tottenham') %>%
    mutate(goal_diff = full_time_away_goals - full_time_home_goals) %>%
    select(Date, goal_diff)
head(tot_away)

  Date       goal_diff
1 20/09/2020 3
2 04/10/2020 5
3 26/10/2020 1
4 08/11/2020 1
5 29/11/2020 0
6 13/12/2020 0

In [23]:
tot_goal_diff <- 
    rbind(tot_home, tot_away)
head(tot_goal_diff)

  Date       goal_diff
1 13/09/2020 -1
2 27/09/2020  0
3 18/10/2020  0
4 01/11/2020  1
5 21/11/2020  2
6 06/12/2020  2

[Jose Mourinho: Tottenham sack manager after 17 months - BBC April 19, 2021](https://www.bbc.com/sport/football/56799400)

In [51]:
?as.Date()

In [55]:
fired_date <- as.Date('19/04/2021', format='%d/%m/%y')
fired_date

[1] "2020-04-19"

In [59]:
before_fired <- 
    tot_goal_diff %>%
    filter(as.Date(Date, format='%d/%m/%y') < fired_date) %>%
    select(goal_diff)

head(before_fired)

  goal_diff
1  3
2  0
3 -2
4 -1
5  2
6  4

In [60]:
after_fired <- 
    tot_goal_diff %>%
    filter(as.Date(Date, format='%d/%m/%y') >= fired_date) %>%
    select(goal_diff)

head(after_fired)

  goal_diff
1 -1
2  0
3  0
4  1
5  2
6  2

In [66]:
nrow(before_fired)
nrow(after_fired)

[1] 17

[1] 21

In [68]:
mean(before_fired$goal_diff)
mean(after_fired$goal_diff)

[1] 0.3529412

[1] 0.8095238